<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="file" fileName="logs/app.log">
            <PatternLayout pattern="{%logger{36}} %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level]: %msg%n"/>
        </File>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="{%logger{36}} %d{HH:mm:ss} [%-5level]: %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="file" />
            <AppenderRef ref="LogToConsole" />
        </Root>
    </Loggers>
</Configuration>